<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Introduction</h1>
    <p>
        This website is for form building. users could create and modify their own forms and fields in the Form page.
        Creating and editing the fields for a form is highly user-interactive in this website. Users could add,
        edit, clone, delete and drag the fields to change the order. The philosophy of design is mobile first and it's also
        a single page application.
    </p>
    <p class="alert alert-info"><strong>For Testing This Website:</strong><br />
        Please either <mark>register</mark>(highly recommended) or use <mark>username:"alice", password:"alice"</mark> to login. Have fun!<br />
        (Many people might use alice to login and I have no idea what kind of weird form they would create..)
    </p>
    <p class="alert alert-danger"><strong>Current Progress:</strong><br />
        This website is not finished yet! By now, I have done the client side and most of the server side's work.
        I still need to connect Node.js server to MongoDB and implement the authentication middleware Passport to it.
        So now, once the logged in user refreshes the page, they will logout immediately.
    </p>
    <p class="alert alert-info"><strong>More Info:</strong><br />
        Personal Blog: <a href="http://blog-gxless.rhcloud.com">http://blog-gxless.rhcloud.com</a><br />
        DoMeAFavor Website: <a href="http://domeafavor-gxless.rhcloud.com/">http://domeafavor-gxless.rhcloud.com/</a><br />
        Github: <a href="https://github.com/gxless/FormBuilder">https://github.com/gxless/FormBuilder</a>
    </p>

</div>




